@import "./dist/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
  margin: 0;
  padding: center;
  font-family: Roboto;
  background: $primary-background-color;
}

.container {
  width: 350px;
  margin: 50px auto;
}
